/*初始化界面颜色和内外边距*/
body{
    background-color: whitesmoke;
}

*{
    margin: 0px;
    padding: 0px;
}
/*一些会用到的盒子样式*/
div.top{
    background-color: whitesmoke;
    margin-left: 900px;
    width: 430px;
    font-size: 15px;
    font-weight: bolder;
    color: black;
 }
 div.logo{
     left: 300px;
     position: relative;
     width:max-content;
     height: 60px;
     display:inline-block;
 }
 div#list
 {
     position: relative;
     margin: 0 auto;
     padding: 0px;
     width: all;
     height: 40px;
     background-color: rgb(69,157,245);
 }
 div#listbox{

     position: absolute;
     margin-left: 332px;
     width: 736px;
     height: 40px;
 }
 div#listname
 { 
    
     line-height: 40px;
     text-align: center;
     display: inline-block;
     background-color:rgb(69,157,245);
     margin-right:-5px;
     width:122px;
     height: 40px;
 }
 div#listname:hover
 {
     background-color: rgb(51,140,230);
 }
 div#show
 {
     position:absolute ;
     margin-left:332px;
     width: 734px;
     height: 200px;
 } 
 div#hidden
 {
    display: none;
 }
 div#control
 {  
     position: relative;
     width: all;
     height:230px;
     background-color:rgb(10,49,138);
 }
 div#diantun
 {
     position: absolute;
     margin-top: 20px;
     margin-left: 500px;
 }
 div#ZYSY
 {
     position:relative;
     border: 1px solid gainsboro;
     top:20px;
     left: 100px;
     width: 1200PX;
     height: 650PX;
     background-color:white
 }
 div#TJ
 {
     cursor: pointer;
     position: absolute;
     margin-left: 900px;
     margin-top:50px;
     width: 270PX;
     height: 360PX;
     background-color: whitesmoke;
     border-right:gray 1px  solid;
     border-bottom:gray 1px  solid;

 }
 div#TJTXT
 {
     position: absolute;
     margin-left: 900px;
     margin-top:50px;
     display: none;
     width: 270PX;
     height: 360PX;
     background-color:rgba(0,0,0,0.6);
 }
 div#content
 {
     margin-top:30px ;
     margin-left: 30px;
     width: 850px;
     height: 440px;
 }

 div#relationship
 {
     position: relative;
     overflow: hidden;
     margin-left: 30px;
     width: 378px;
     height: 160px;
 }
 div#information
 {
     top:40px;
     left: 100px;
     border: 1px solid gainsboro;
     position:relative;
     width: 1200px;
     height: 600px;
     background-color:white
 }
 div#hot
 {
     font-weight: bold;
     text-align: center;
     border-left: 1px solid gainsboro;
     right: 0px;
     width: 300px;
     height: 600px;
     position: absolute;
 }
 div#hotbox
 {  
     position: relative;
     margin-left:10px;
     width: 260px;
     height: 450px;
 }
 div#boxchose
 {
     cursor: pointer;
     position: absolute;
     top: 20px;
     left: 20px;
     color: white;
     display:inline-flex;
     width: 230px;
     height: 30px;

 }
 div.hotchose1
 {   
     color: white;
     border: 1px solid gainsboro;
     width: 110px;
     height:30px;
     background-color: rgb(51,140,230);
 }
 div.hotchose2
 {
    color: black;
    border: 1px solid gainsboro;
    width: 110px;
    height:30px;
    background-color: white;
 }
 table.hottable1
 {
    position: absolute;
    top: 60px;
    left: 30px;
    width: 200px;
    height:100px;
 }
 table.hottable2
 {
    display: none;
    position: absolute;
    top: 60px;
    left: 30px;
    width: 200px;
    height:100px;
 }
 div#hisworks
 {
     top:60px;
     left: 100px;
     border: 1px solid gainsboro;
     position:relative;
     width: 1200px;
     height: 600px;
     background-color:white
 }
 div#works
 {
    top:100px;
    left: 100px;
    border: 1px solid gainsboro;
    position:relative;
    width: 1200px;
    height: 800px;
    background-color:white   
 }

 div#ship
 {   
     left:300px;
     top:390px;
     z-index: 1;
     position: fixed;
     margin-left: 1000px;
     height: 300px;
     width: 80px;
     border-left:1px solid gray;
     background-color:rgba(69,157,245, 0.5);
 
 }
 div#share
 {
    text-align: center;
    border-radius: 10em;
    left:-1000px;
    top:390px;
    z-index: 1;
    position: fixed;
    margin-left: 1000px;
    height: 200px;
    width: 50px;
    border-left:1px solid gray;
    background-color:rgba(69,157,245, 0.5);
 }
 div#share:hover
 {
     background-color:rgba(69,157,245, 0.9); 
 }
 div#ship:hover
 {
     background-color:rgba(69,157,245, 0.9);
 }

 /*搜索框*/
 input{
     width:300px;
     height: 40px;
     margin-top:5px;
 }
 /*用来套标题栏的盒子*/
 div.baidu{
     width: all;
     height: 100px;
 }

 /*按钮样式*/
 .btn{
 cursor: pointer;
 position: relative;
 top:-25px;
 left: -8px;
 margin-left: 0px;
 border: 0;
 width: 100px;
 height: 40px;
 font-size: 15px;
} 

#search
{
 position: relative;
 width: 400px;
 height: 36px;
 top:-27px;
 left: -4px;
 }
/*集中图标（这办法真蠢）*/
#NR1{
    text-align: center;
    background-repeat: no-repeat;
   background-image:url("Image/编辑.svg");
     cursor: pointer;
     width:60px;
     height: 30px; 
     color: #36f;
     background-color:white;
     position: relative;
     top:-5px;
 } 
 #NR2{
    text-align: center;
    background-repeat: no-repeat;
   background-image:url("Image/讨论.svg");
     cursor: pointer;
     width:60px;
     height: 30px; 
     color: #36f;
     background-color:white;
     position: relative;
     top:-5px;
 } 
 #NR3{
    text-align: center;
    background-repeat: no-repeat;
   background-image:url("Image/上传视频.svg");
     cursor: pointer;
     width:60px;
     height: 30px; 
     color: #36f;
     background-color:white;
     position: relative;
     top:-5px;
 } 
 #NR1:hover
 {
     color: white;
     background-color: #36f;
 }
 #NR2:hover
 {
     color: white;
     background-color: #36f;
 }
 #NR3:hover
 {
     color: white;
     background-color: #36f;
 }

 a#href:hover
 {
     color: royalblue;
 }
 #TJ:hover+#TJTXT
 {
    display: block;
 } 
  /*下面会用到的一些样式*/
  a:hover{
    color: blue;
}

a.a1{
    font-size: 17px;
    color: white;
}
a.a2{
    font-weight: bolder;
    text-decoration: none;
    color:rgb(163, 199, 233);
    font-size: 15px;
}
a.a3{
    width: 80px;
    font-size: 15px;
    color: white;
    background-color:rgba(0,0,0,0.4);
}
a#WR
{
  font-size: 15px;
  font-weight: bolder;
}
a#href
{
    line-height: 30px;
    color: white;
    font-size:15px;
    text-decoration: none;
}
a.a2:hover
{
    text-decoration: underline;
    color: white;
}
p#content
{
    font-size: 13px; 
    word-spacing: 2px;
    line-height: 30px;
}
/*用到的列表样式*/
 ul#one{
     display: table-cell;
     list-style: none;
     width: 122px;
     height: 190px;

 }
 li{
     border-right:1px solid rgb(142, 190, 235) ;
     text-align: center;
     height: 35px;
     width: 121px;
     list-style: none;
     font-size: 20px;
     background-color: rgba(34,93,152,0.7);
 }
 #prev
{
    margin-top: 50px;
    margin-left: -60px;
    position: absolute;
    width: 35px;
    height: 60px;
    background: url("Image/上一个.svg")  center center no-repeat;
  
}
#prev:hover
{
    background-color: rgba(67, 74, 80,0.5);
}

#next
{
    margin-top: 50px;
    margin-left: 277px;
    position: absolute;
    width: 35px;
    height: 60px; 
    background: url("Image/下一个\ .svg") center center no-repeat;
}
#next:hover
{
    background-color: rgba(67, 74, 80,0.5);
}
div#ultwo
 {
     margin-left: 40px;
     overflow: hidden;
     width:300px;
     height: 150px;
 }
 ul#two
 {
     overflow: hidden;
     width: 400px;
     height: 130px;
     animation:move 6s infinite;
     animation-direction: alternate;    
 }
 li#two
 { 
     width: 80px;
     height: 120px;   
     margin-top: 10px;
     display: inline-block;
     text-align: center;
     list-style: none;
     font-size: 20px;
     
}
@keyframes move
{  
   0%{ margin-left:0px;}
   100%{ margin-left:-100px;}
 
}
/*用到的列表样式*/
table#information
{
    width: 400px;
    text-align: center;
    margin-top: 0px;
    position: absolute;
}
tr#information
{
    width: 205px;
    height: 35px;
}
td#information
{
    font-size: 13px;
    font-weight: bold;
    color: grey;

}
td#information1
{   font-size: 13px;
    text-align: left;
    width: 300px;

}
ul#information
{
    position: absolute;
    width: 860px;
    height: 420px;

}
li#information
{
  border-right:white ;
  border-bottom:2px gainsboro  dotted;
  width: 840px;
  height: 35px;
  background-color: white
}
table#works
{
    text-align: center;
    width: 800px;
}
tr#works
{
    width: 200px;
    height: 150px;
}
td#works
{
    width: 100px;
    height: 100px;
}
td#works1
{
    text-align:left;
    width: 180px;
    height: 100px;
}

table#detail
{
    color:rgb(51,140,230) ;
    width: 220px;
    height: 140px;
}
tr#detail
{
    width: 100px;
    height: 20px;
}
td#detail
{   
    font-size: 15px;
    color: rgba(67, 74, 80,0.8);
    text-align:center;
    width: 40px;
    height: 30px;

}
th#detail
{
    font-size: 15px;
}
/*一些图片的样式*/
img#miaodon
 { 
     margin-left: 200px;
     position:absolute;
     width:300px;
     height:200px;
 }
img#yikan
{
     margin-top: 80px;
     margin-left: 860px;
     position:absolute;
     width:100px;
     height:100px;
}
img#tj
{
 position: absolute;
 margin-left: 5px;
 margin-top: 2px;
 width: 263px;
 height: 356px;
}
img#sgv
{
    opacity: 0.2;
}
img#sgv:hover
{
    opacity: 0.8;
}
img#work
{
 width: 80px;
 height: 120px;
}
img#hot
{
    cursor: pointer;
    border: 1px solid rgb(142, 190, 235);
    border-radius: 50%;
    width: 60px;
    height: 60px;
}